* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.05em;
}

:root {
  --color: #333;
  --color-light-grey: #858585;
  --border: 1px solid #c2c2c2;
}

h2 {
  color: black;
  font-size: 30px;
  text-align: center;
}
p {
  padding: 25px 0 25px 0;
  font-size: 20px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* 
*** Flex ***
*/
.flex {
  display: flex;
}
.flex-d-c {
  flex-direction: column;
}
/* 
*** Header ***
*/
header nav {
  display: flex;
  background: cadetblue;
}

header nav a {
  text-decoration: none;
  font-size: 1em;
  padding: 0.5em 1em;
  color: antiquewhite;
  flex-basis: 50%;
}

header nav a:not(:last-child) {
  border-right: var(--border);
}

header nav a:hover,
header nav a:focus,
header nav a:target {
  background: chocolate;
}

.main {
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}
/*
*** Exercises ***
*/
.exercise {
  border: 2px #60b6b7 solid;
  width: 400px;
  padding: 0%;
  text-align: center;
  top: 25px;
  position: relative;
}
.exercise li {
  padding: 10px;
  font-size: 25px;
  border-bottom: 0.5px #60b6b7 solid;
  list-style-type: none;
  margin: 0px;
}    

.exercise li:hover {
  background-color:#60b6b7; 
  cursor: pointer;
  border-bottom: 5px solid chocolate;
}
img {
  height: 300px;
  width: 450px;
}
.container {
  width: 100%;
}

.close {
  color: red;
  font-size: 35px;
  width: 40px;
}

/* .close:hover::after{
  content: attr(data-title); 
  z-index: 1;
  background: rgba(255,255,230,0.9); 
  font-family: Arial, sans-serif; 
  font-size: 15px; 
  border: 1px solid #333; 
  height: 80px;
  width: 40px;
  padding: 10px;
  margin-left: 30px;
} */

.accordion + p{
  display: none;
}
.accordion.active + p{
  display: block;
}

.accordion{
  background-color:transparent;
  color: green;
  cursor: pointer;
  width: 25px;
  height: 35px;
  padding: 4px;
  text-align: left;
  border: none;
  outline: none;
  font-size: 35px; 
}





/*
***********
*/
.name_label {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #60b6b7;
  margin: 10px;
}
.description {
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  color: #60b6b7;
  justify-content: space-around;
  align-content: center;
  padding: 10px;
}
.exercises-ds {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;
  resize: none;
  color: chocolate;
  font-size: 15px;
  padding: 10px;
}
.exercises-name {
  width: 100%;
  height: 50px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f8f8f8;

  color: chocolate;
  font-size: 15px;
}
.add-btn {
  background-color: #60b6b7;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  width: 280px;
  height: 50px;
  font-size: 20px;
  margin-left: 10px;
}
.add-btn:hover {
  background-color: chocolate;
}
